@font-face {
    font-family: 'Osaka';
    src: url('./assets/osaka.otf') format('opentype');
}

@font-face {
    font-family: 'Atari';
    src: url('./assets/atari.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Osaka', monospace;
    text-align: left;
    background: black;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 0 20%;
}
.text {
    color: rgb(211, 206, 191);
    /* width: 50%; */
    padding: 0 32px;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    line-height: 1.5;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: bold;
    transform: translateZ(0); /* Fix for blurry text on some devices */
}

.health-bar {
    width: 180px;
    height: 16px;
    border-radius: 2px;
    border: #c9cdd6 4px solid;
    overflow: hidden;
    position: fixed;
    bottom: 10px;
}

.left {
    left: 10px;
}

.right  {
    right: 10px;
}

.left > .bar {
    background-color: #b51314;
}

.right > .bar {
    background-color: #ec3e3d;
}

.bar {
    height: 100%;
    transition: width 0.3s ease-in-out;
}
  

.shake {
    animation: shake 0.2s ease-in-out;
}

@keyframes shake {
    0% { transform: rotate(0); }
    25% { transform: rotate(4deg); }
    50% { transform: rotate(0); }
    75% { transform: rotate(-4deg); }
    100% { transform: rotate(0); }
}

.score {
    position: fixed;
    top: 20px;
}

.score.left {
    left: 20px;
}

.score.right {
    right: 20px;    
}

.score-text {
    color: white;
    font-size: 2em;
    font-family: 'Atari';
}

.mobile-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.config {
    position: absolute;
    z-index: 20;
    right: 20px;
    top: 20vh;
    background-color: #13131498;
}

.constants-form {
    padding: 12px 22px;
    border: 1px rgba(24, 23, 23, 0.748) solid;
    border-radius: 1px;
}

.start-button {
    position: fixed;
    right: 20px;
    top: calc(20vh - 28px);
}


.form-bottom-layer {
    padding: 8px;
    display: flex;
    justify-content: center;
}

.form-text {
    color: rgb(211, 206, 191);
    font-size: 0.5em;
    font-family: 'Atari';
}

/* Slider */

.slider-container {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    margin: 20px 0;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 12px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
    background: #333;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 20px;
    border-radius: 1px;
    background: #ddd;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: #ddd;
    cursor: pointer;
    transition: .2s;
}

.slider::-ms-thumb {
    width: 10px;
    height: 20px;
    background: #ddd;
    cursor: pointer;
    transition: .2s;
}

.slider:hover {
    opacity: 1;
}

.slider:focus {
    opacity: 1;
}

.slider-container label {
    margin-right: 10px;
    font-weight: bold;
    color: #ddd;
}

.form-button {
    background-color: #0b0b0c95;
    border: none;
    border: 1px #333 solid;
    border-radius: 1px;
    padding: 0 8px;
    color: #ddd;
    font-family: 'Atari';
    font-size: 0.4em;
    height: 24px;
}

/* The switch */
.retro-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 1px;
  background-color: #333;
  box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
  opacity: 0.7;
}

.retro-switch input {
  display: none;
}

.switch-slider {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  width: 20px;
  height: 16px;
  background-color: #13131498;
  border-radius: 1px;
  transition: transform 0.1s ease-in-out;
}

.retro-switch input:checked + .switch-slider {
  transform: translateX(16px);
  background-color: #13131498;
}

.retro-switch input:focus + .switch-slider {
  box-shadow: 0 0 1px #13131498;
}

.retro-switch input:checked + .switch-slider:before {
  content: "1";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
}

.retro-switch input:not(:checked) + .switch-slider:before {
  content: "0";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #bfbfbf;
}

.retro-switch.round {
  border-radius: 0px;
}

.retro-switch.round .switch-slider {
  border-radius: 0px;
}

.switch-input-container {
    display: flex;
    justify-content: center;
    height: 22px;
}

.switch-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}