@font-face {
    font-family: 'Osaka';
    src: url('./assets/osaka.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Osaka', monospace;
    text-align: left;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 0 20%;
}
.text {
    color: rgb(211, 206, 191);
    font-size: 1em;
    letter-spacing: 0.2em;
    line-height: 1.5;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: bold;
    transform: translateZ(0); /* Fix for blurry text on some devices */
}