@font-face {
    font-family: 'Osaka';
    src: url('./assets/osaka.otf') format('opentype');
}

@font-face {
    font-family: 'Atari';
    src: url('./assets/atari.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Osaka', monospace;
    text-align: left;
    background: black;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 0 20%;
}
.text {
    color: rgb(211, 206, 191);
    /* width: 50%; */
    padding: 0 32px;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    line-height: 1.5;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: bold;
    transform: translateZ(0); /* Fix for blurry text on some devices */
}

.health-bar {
    width: 180px;
    height: 16px;
    border-radius: 2px;
    border: #c9cdd6 4px solid;
    overflow: hidden;
    position: fixed;
    bottom: 10px;
}

.left {
    left: 10px;
}

.right  {
    right: 10px;
}

.left > .bar {
    background-color: #b51314;
}

.right > .bar {
    background-color: #ec3e3d;
}

.bar {
    height: 100%;
    transition: width 0.3s ease-in-out;
}
  

.shake {
    animation: shake 0.2s ease-in-out;
}

@keyframes shake {
    0% { transform: rotate(0); }
    25% { transform: rotate(4deg); }
    50% { transform: rotate(0); }
    75% { transform: rotate(-4deg); }
    100% { transform: rotate(0); }
}

.score {
    position: fixed;
    top: 20px;
}

.score.left {
    left: 20px;
}

.score.right {
    right: 20px;    
}

.score-text {
    color: white;
    font-size: 2em;
    font-family: 'Atari';
}

.mobile-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}